<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<connectionStrings>
		<!-- Для LocalDB (рекомендуется для разработки) -->
		<add name="AutoServiceDB"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AutoServiceDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
             providerName="System.Data.SqlClient"/>

		<!-- Альтернатива: SQL Server Express (если установлен) -->
		<!--
        <add name="AutoServiceDB" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AutoServiceDB;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
        -->
	</connectionStrings>
</configuration>